@font-face {
    font-family: "parastoo-Regular";
    src: url('../fonts/web/Farsi-Digits-Without-Latin/Parastoo-FD-WOL.ttf') format("truetype");
}

@font-face {
    font-family: "parastoo-Bold";
    src: url('../fonts/web/Farsi-Digits-Without-Latin/Parastoo-Bold-FD-WOL.ttf') format("truetype");
}

body {
    font-family: "parastoo-Regular";
    user-select: none;
}

.main-bg {
    background-color: #198754;
}

.main-text {
    color: #198754;
}

.second-bg {
    background-color: #16447d;
}

.second-text {
    color: #16447d;
}

.third-bg {
    background-color: #616e96;
}

.third-text {
    color: #616e96;
}

.bg-gray {
    background-color: #f7f9fc;
}

.font-bold {
    font-family: "parastoo-Bold";
}

.cursor {
    cursor: pointer;
}

.alert-orange {
    background: rgba(255, 87, 34, 0.1);
    color: #ff5722;
}

.z-10 {
    z-index: 10;
}

a {
    cursor: pointer;
    text-decoration: none;
    transition: all .4s;
}

a:hover {
    color: #198754;
}

.fs-7 {
    font-size: 12px;
}

.fs-8 {
    font-size: 10px;
}

.transition {
    transition: all .4s;
}

.w-22 {
    width: 22px;
}

.rounded-4 {
    border-radius: 0.5rem;
}

/* header */
img[alt='logo'] {
    width: 170px;
}

header {
    padding: 25px 0;
    position: relative;
    z-index: 99;
}

header a {
    color: white !important;
}

header a:hover,
header a.active,
.teamSocials a:hover {
    color: #198754 !important;
}

header ul li:hover ul {
    opacity: 100%;
    visibility: visible;
}

header ul ul {
    top: 54px;
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
}

header ul ul a {
    color: #333c56 !important;
    width: 230px;
}

header ul ul a:hover {
    transform: translateX(-9px);
}

header ul ul::before {
    background-color: #ffffff;
    content: "";
    width: 22px;
    height: 22px;
    right: 27px;
    top: 20px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
}

/* banner */
.vedio-banner {
    position: relative;
    background-color: black;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 100px 0;
    width: 100%;
    min-height: 500px;
    height: 100vh;
    margin-top: -89px;
}

.vedio-banner video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: 0;
    max-height: 640px;
    object-fit: cover;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.hero-banner.vedio-banner .container {
    z-index: 5;
}

.vedio-banner .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0c1221;
    opacity: 0.6;
    z-index: 3;
}

#searchBox .nav-tabs .nav-link {
    color: white;
}

#searchBox .nav-tabs .nav-link.active,
#searchBox .nav-tabs .nav-link:hover {
    background-color: transparent;
    color: #198754;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: transparent;
}

#searchBox .tab-content>.tab-pane {
    position: absolute;
    left: 0;
    right: 0;
}

/* latest homes */

.homes img[alt='bed'] {
    width: 17px;
}

.seeDetails:hover {
    background-color: #198754;
}

/* team */

.fr-grid-thumb {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: table;
    position: relative;
    margin: 0.7em auto;
    box-shadow: 0px 0px 0px 5px rgb(237 240 245);
    -webkit-box-shadow: 0px 0px 0px 5px rgb(237 240 245);
    border: 8px solid white;
    align-items: center;
    justify-content: center;
}

.fr-grid-thumb a {
    display: block;
    width: 90px;
    height: 90px;
    position: relative;
}

.fr-grid-thumb img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

span.verified img {
    position: absolute;
    left: -6px;
    top: 0px;
    max-width: 15px !important;
}

/* search location */

.city-box>div {
    position: absolute;
    left: 15px;
    right: 15px;
    top: 0;
    bottom: 0;
    background: rgba(15, 28, 47, 0.65);
    margin: 15px;
    border-radius: 6px;
    transition: all .4s;
}

.city-box:hover>div {
    margin: 0;
    left: 12px;
    right: 12px;
}

/* testimonials */

.testimonials {
    background: #122947 url('../img/pattern.png') no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
}

.testimonials .swiper-pagination-bullets-dynamic {
    overflow: hidden;
    font-size: 0;
    position: relative;
    margin: auto;
    margin-top: auto;
    margin-top: auto;
    margin-top: 24px;
}

.testimonials .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main,
.testimonials .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next,
.testimonials .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev,
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    background-color: #198754;
    border: 4px solid #7ea492;
    width: 17px;
    height: 17px;
}

.testimonials .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next,
.testimonials .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev,
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}

/* second banner */
.banner {
    height: 580px;
}

/* partner */
.partner{
    padding-bottom: 244px;
}
.partner img[alt='partner'] {
    width: 35px;
}
.custom-shape-divider-bottom-1691677134 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1691677134 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 306px;
}

.custom-shape-divider-bottom-1691677134 .shape-fill {
    fill: #FFFFFF;
}

/* responsive */
@media only screen and (max-width:1400px) {}

@media only screen and (max-width:1200px) {}

@media only screen and (max-width:992px) {}

@media only screen and (max-width:768px) {}

@media only screen and (max-width:576px) {}

@media only screen and (max-width:400px) {}